---
import CardKanji from '@components/organisms/CardKanji.astro';
import { getCollection } from 'astro:content';

const kanjisCollection = await getCollection('kanjisCollection');

const {
  background,
  image,
  imageAlt,
  kanji,
  kunyomis,
  onyomis,
  title,
  vocabulary,
} = kanjisCollection[0].data;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div>
      {
        kanjisCollection.map(
          ({
            data: {
              background,
              image,
              imageAlt,
              kanji,
              kunyomis,
              onyomis,
              title,
              vocabulary,
            },
          }) => (
            <CardKanji
              background={background}
              image={image}
              imageAlt={imageAlt}
              kanji={kanji}
              kunyomis={kunyomis}
              onyomis={onyomis}
              title={title}
              vocabulary={vocabulary}
            />
          ),
        )
      }
    </div>
  </body>
</html>
